In [6]:
import numpy as np 
import pandas as pd

In [5]:
np.random.seed(101)

In [15]:
df = pd.DataFrame(np.random.randn(5,4), index= "A B C D E".split(),columns = "W X Y Z".split())

In [13]:
df["W"]["A"]

0.3026654485851825

In [17]:
df[["W","Z"]]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [16]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [19]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [29]:
df["A"] = df["Z"]

In [33]:
df

          W         X         Y         Z       new         A
A -0.993263  0.196800 -1.136645  0.000366  0.000366  0.000366
B  1.025984 -0.156598 -0.031579  0.649826  0.649826  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419 -0.346419 -0.346419
D  0.147027 -0.479448  0.558769  1.024810  1.024810  1.024810
E -0.925874  1.862864 -1.133817  0.610478  0.610478  0.610478

In [37]:
df.drop("new",axis =1,inplace=True)

In [38]:
df

          W         X         Y         Z         A
A -0.993263  0.196800 -1.136645  0.000366  0.000366
B  1.025984 -0.156598 -0.031579  0.649826  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419 -0.346419
D  0.147027 -0.479448  0.558769  1.024810  1.024810
E -0.925874  1.862864 -1.133817  0.610478  0.610478

In [40]:
df.loc["A"]

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
A    0.000366
Name: A, dtype: float64

In [49]:
df.loc["A B C D E".split(),"A"]

A    0.000366
B    0.649826
C   -0.346419
D    1.024810
E    0.610478
Name: A, dtype: float64

In [50]:
df.loc[["A","B","C"],["X","Y","Z"]]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826
C -0.610259 -0.755325 -0.346419

In [51]:
df.iloc[0:3,1:4]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826
C -0.610259 -0.755325 -0.346419