In [1]:
import numpy as np 
import pandas as pd

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(np.random.randn(5,4), index= "A B C D E".split(),columns = "W X Y Z".split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
bol = df > 0

In [8]:
df[bol]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df[df["W"]>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df[df["W"]>0]["Y"]

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [18]:
bol = df["W"]>0
df2 = df[bol]
df2 = df2["Y"]
df2

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [23]:
df[(df["W"]>0) & (df["Y"]>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df[(df["W"]>0) | (df["Y"]>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [26]:
col = "SP RJ SC MG BA".split()

In [32]:
df["Estado"] = col

In [31]:
df.drop("new" ,axis = 1,  inplace = True)

In [33]:
df

          W         X         Y         Z Estado
A  2.706850  0.628133  0.907969  0.503826     SP
B  0.651118 -0.319318 -0.848077  0.605965     RJ
C -2.018168  0.740122  0.528813 -0.589001     SC
D  0.188695 -0.758872 -0.933237  0.955057     MG
E  0.190794  1.978757  2.605967  0.683509     BA

In [34]:
df.set_index("Estado")

               W         X         Y         Z
Estado
SP      2.706850  0.628133  0.907969  0.503826
RJ      0.651118 -0.319318 -0.848077  0.605965
SC     -2.018168  0.740122  0.528813 -0.589001
MG      0.188695 -0.758872 -0.933237  0.955057
BA      0.190794  1.978757  2.605967  0.683509