In [1]:
import numpy as np
import pandas as pd

In [4]:
d = {"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[1,2,3]}

In [5]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [10]:
df.dropna(thresh=2,axis=1)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [12]:
df.fillna("Fil na")

        A       B  C
0       1       5  1
1       2  Fil na  2
2  Fil na  Fil na  3

In [18]:
df["A"].fillna(df["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [22]:
df.fillna(method = "ffill")

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3